<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douzon.smartlogistics.domain.porderitem.dao.mapper.POrderItemMapper">

  <!--  발주 품목 등록 -->
  <insert id="insert" parameterType="com.douzon.smartlogistics.domain.porderitem.dto.POrderItemInsertDto">
    INSERT INTO PORDER_ITEM(PORDER_CODE, MANAGER, ITEM_CODE, PORDER_COUNT, PORDER_PRICE, PORDER_ITEM_PRICE,
                            RECEIVE_DEADLINE, CREATE_IP, CREATE_ID)
    VALUES ( #{pOrderItem.pOrderCode}, #{pOrderItem.manager}, #{pOrderItem.itemCode}, #{pOrderItem.pOrderCount},
             #{pOrderItem.pOrderPrice},
             #{pOrderItem.pOrderItemPrice},
             #{pOrderItem.receiveDeadline}, #{pOrderItem.createIp}, #{pOrderItem.createId} );
  </insert>
  <update id="modify">
    UPDATE PORDER_ITEM
    SET MANAGER = #{pOrderItemModifyDto.manager},
        ITEM_CODE = #{pOrderItemModifyDto.itemCode},
        PORDER_COUNT = #{pOrderItemModifyDto.pOrderCount},
        PORDER_PRICE = #{pOrderItemModifyDto.pOrderPrice},
        PORDER_ITEM_PRICE = #{pOrderItemModifyDto.pOrderItemPrice},
        RECEIVE_DEADLINE = #{pOrderItemModifyDto.receiveDeadline},
        MODIFY_DATE = CURRENT_TIMESTAMP,
        MODIFY_IP = #{pOrderItemModifyDto.modifyIp},
        MODIFY_ID = #{pOrderItemModifyDto.modifyId}
    WHERE PORDER_ITEM_NO = #{pOrderCode}
  </update>
  <delete id="delete">
    DELETE FROM PORDER_ITEM
    WHERE PORDER_CODE = #{pOrderCode}
  </delete>
  <select id="retrieve" resultType="com.douzon.smartlogistics.domain.entity.POrderItem">
    SELECT PORDER_ITEM_NO,
           PORDER_CODE,
           MANAGER,
           ITEM_CODE,
           PORDER_COUNT,
           PORDER_PRICE,
           PORDER_ITEM_PRICE,
           RECEIVE_DEADLINE,
           CREATE_DATE,
           CREATE_IP,
           CREATE_ID,
           MODIFY_DATE,
           MODIFY_IP,
           MODIFY_ID
    FROM PORDER_ITEM
    WHERE PORDER_ITEM_NO = #{pOrderItemNo};
  </select>
</mapper>