<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douzon.smartlogistics.domain.receiveitem.dao.mapper.ReceiveItemMapper">
    <!-- 입고 물품 삭제 -->
    <delete id="deleteReceiveItem">
        DELETE
        FROM RECEIVE_ITEM
        WHERE PORDER_ITEM_NO=#{receiveItemNo};
    </delete>

    <!-- 입고 물품 등록 -->
    <insert id="insertReceiveItem" parameterType="com.douzon.smartlogistics.domain.receiveitem.dto.ReceiveItemDto">
        INSERT INTO RECEIVE_ITEM(RECEIVE_CODE, PORDER_CODE, PORDER_ITEM_NO, ITEM_CODE, MANAGER, RECEIVE_COUNT, ACCOUNT_NO, WAREHOUSE_SECTION_NO, CREATE_IP, CREATE_ID)
        VALUES (#{receiveItem.receiveCode}, #{receiveItem.porderCode}, #{receiveItem.porderItemNo}, #{receiveItem.itemCode}, #{receiveItem.manager}, #{receiveItem.receiveCount}, #{receiveItem.accountNo}, #{receiveItem.warehouseSectionNo}, #{receiveItem.createIp},#{receiveItem.createId});
    </insert>

<!--    &lt;!&ndash; 창고 재고 등록 &ndash;&gt;-->
<!--    <insert id="insertWarehouse" parameterType="java.util.Map">-->
<!--        INSERT INTO WAREHOUSE(SECTION_NO, RECEIVE_CODE, RECEIVE_ITEM_NO, ITEM_CODE, COUNT, CREATE_IP, CREATE_ID)-->
<!--        VALUES-->
<!--            (#{WAREHOUSE_SECTION_NO},#{RECEIVE_CODE},#{RECEIVE_ITEM_NO},#{ITEM_CODE},#{RECEIVE_COUNT},#{CREATE_IP},#{CREATE_ID});-->
<!--    </insert>-->


    <select id="retrieveReceiveItem" resultType="com.douzon.smartlogistics.domain.receiveitem.dto.ReceiveItemDto">
        SELECT RECEIVE_ITEM_NO, RECEIVE_CODE, PORDER_CODE, PORDER_ITEM_NO, ITEM_CODE, MANAGER, RECEIVE_COUNT, ACCOUNT_NO, WAREHOUSE_SECTION_NO, CREATE_DATE, CREATE_IP, CREATE_ID, MODIFY_DATE, MODIFY_IP, MODIFY_ID
        FROM RECEIVE_ITEM
        WHERE RECEIVE_ITEM_NO=#{receiveItemNo};
    </select>

    <select id="findReceiveItem" resultType="com.douzon.smartlogistics.domain.receiveitem.dto.ReceiveItemDto">
        SELECT RECEIVE_ITEM_NO, RECEIVE_CODE, PORDER_CODE, PORDER_ITEM_NO, ITEM_CODE, MANAGER, RECEIVE_COUNT, ACCOUNT_NO, WAREHOUSE_SECTION_NO, CREATE_DATE, CREATE_IP, CREATE_ID, MODIFY_DATE, MODIFY_IP, MODIFY_ID
        FROM RECEIVE_ITEM
        <where>
            RECEIVE_CODE = #{rvCode} AND
            PORDER_CODE = #{poCode} AND
            ITEM_CODE = #{itemCode} AND
            ACCOUNT_NO = #{accountNo} AND
            WAREHOUSE_SECTION_NO = #{sectionNo}
        </where>
    </select>

</mapper>