<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douzon.smartlogistics.domain.receiveitem.dao.mapper.ReceiveItemMapper">
    <insert id="insertReceiveItem" parameterType="com.douzon.smartlogistics.domain.receiveitem.dto.ReceiveItemInsertDto">
        INSERT INTO RECEIVE_ITEM(RECEIVE_CODE, PORDER_CODE, PORDER_ITEM_NO, ITEM_CODE, MANAGER, RECEIVE_COUNT, ACCOUNT_NO, WAREHOUSE_SECTION_NO, CREATE_IP, CREATE_ID)
        VALUES (#{receiveItem.receiveCode}, #{receiveItem.porderCode}, #{receiveItem.porderItemNo}, #{receiveItem.itemCode}, #{receiveItem.manager}, #{receiveItem.receiveCount}, #{receiveItem.accountNo}, #{receiveItem.warehouseSectionNo}, #{receiveItem.createIp},#{receiveItem.createId});
    </insert>
    <select id="findReceiveItem" resultType="com.douzon.smartlogistics.domain.entity.ReceiveItem">
        SELECT RECEIVE_ITEM_NO, RECEIVE_CODE, PORDER_CODE, PORDER_ITEM_NO, ITEM_CODE, MANAGER, RECEIVE_COUNT, ACCOUNT_NO, WAREHOUSE_SECTION_NO, CREATE_DATE, CREATE_IP, CREATE_ID, MODIFY_DATE, MODIFY_IP, MODIFY_ID
        FROM RECEIVE_ITEM
        <where>
            ITEM_CODE = #{itemCode} AND
            RECEIVE_CODE = #{rvCode} AND
            PORDER_CODE = #{poCode} AND
            ACCOUNT_NO = #{accountNo} AND
            WAREHOUSE_SECTION_NO = #{sectionNo}
        </where>
    </select>
    <update id="modifyReceiveItem">
        UPDATE RECEIVE_ITEM
        SET RECEIVE_COUNT = #{ReceiveItem.receiveCount},
            WAREHOUSE_SECTION_NO = #{ReceiveItem.warehouseSectionNo},
            MODIFY_DATE = CURRENT_TIMESTAMP,
            MODIFY_IP = #{ReceiveItem.modifyIp},
            MODIFY_ID = #{ReceiveItem.modifyId}
        WHERE RECEIVE_ITEM_NO = #{receiveItemNo}
    </update>
    <!-- 입고품목 삭제 -->
    <delete id="deleteReceiveItem">
        DELETE
        FROM RECEIVE_ITEM
        WHERE RECEIVE_ITEM_NO=#{receiveItemNo}
        AND RECEIVE_CODE=#{receiveCode}
    </delete>
    <!-- 입고코드, 입고순번 기준으로 입고품목 유무조회 -->
    <select id="retrieveReceiveItem" resultType="com.douzon.smartlogistics.domain.entity.ReceiveItem">
        SELECT RECEIVE_ITEM_NO, RECEIVE_CODE, PORDER_CODE, PORDER_ITEM_NO, ITEM_CODE, RECEIVE_COUNT, ACCOUNT_NO, WAREHOUSE_SECTION_NO, CREATE_DATE, CREATE_IP, CREATE_ID, MODIFY_DATE, MODIFY_IP, MODIFY_ID
        FROM RECEIVE_ITEM
        WHERE RECEIVE_ITEM_NO=#{receiveItemNo}
        AND RECEIVE_CODE=#{receiveCode}
    </select>
    <!-- 입고코드 기준 입고품목 찾기 -->
    <select id="searchReceiveItem" resultType="com.douzon.smartlogistics.domain.entity.ReceiveItem">
        SELECT RECEIVE_ITEM_NO, RECEIVE_CODE, PORDER_CODE, PORDER_ITEM_NO, ITEM_CODE, RECEIVE_COUNT, ACCOUNT_NO, WAREHOUSE_SECTION_NO, CREATE_DATE, CREATE_IP, CREATE_ID, MODIFY_DATE, MODIFY_IP, MODIFY_ID
        FROM RECEIVE_ITEM
        WHERE RECEIVE_CODE=#{receiveCode};
    </select>
</mapper>