<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douzon.smartlogistics.domain.warehousesection.dao.mapper.WarehouseSectionMapper">
    <insert id="insert">
        INSERT INTO WAREHOUSE_SECTION (`SECTION_NAME`) VALUES (#{sectionName})
    </insert>
    <update id="modify">
        UPDATE WAREHOUSE_SECTION
            SET SECTION_NAME = #{sectionName}
        where SECTION_NO = #{sectionNo};
    </update>
    <delete id="delete">
        DELETE
            FROM
            WAREHOUSE_SECTION
            WHERE SECTION_NAME = #{sectionName}
    </delete>
    <select id="warehouseSectionList" resultType="com.douzon.smartlogistics.domain.entity.WarehouseSection">
        select SECTION_NO,
               SECTION_NAME
                from WAREHOUSE_SECTION;
    </select>

</mapper>