<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douzon.smartlogistics.domain.receive.dao.mapper.ReceiveMapper">
    <insert id="insertReceive">
        INSERT INTO RECEIVE(RECEIVE_CODE, RECEIVE_DATE, CREATE_IP, CREATE_ID)
        VALUES (#{receiveCode}, CURRENT_TIMESTAMP ,#{createIp},#{createId})
    </insert>
    <update id="modifyReceive">
        UPDATE RECEIVE
        SET RECEIVE_DATE = CURRENT_TIMESTAMP,
            MODIFY_DATE = CURRENT_TIMESTAMP,
            MODIFY_IP = #{receiveModifyDto.modifyIp},
            MODIFY_ID = #{receiveModifyDto.modifyId}
        WHERE RECEIVE_CODE = #{receiveCode}
    </update>
    <delete id="deleteReceive">
        DELETE
        FROM RECEIVE
        WHERE RECEIVE_CODE = #{receiveCode};
    </delete>
    <select id="findReceive" resultType="com.douzon.smartlogistics.domain.entity.Receive">
        SELECT
            RECEIVE_CODE, RECEIVE_DATE , MANAGER,
            CREATE_DATE, CREATE_IP, CREATE_ID,
            MODIFY_DATE, MODIFY_IP, MODIFY_ID
        FROM RECEIVE
        <where>
            <if test="receiveCode != null and receiveCode != ''">
                AND RECEIVE_CODE LIKE CONCAT(CONCAT('%', #{receiveCode}), '%')
            </if>
            <if test="manager != null and manager != ''">
                AND MANAGER LIKE CONCAT(CONCAT('%', #{manager}), '%')
            </if>
            <if test="createId != null and createId != ''">
                AND CREATE_ID LIKE CONCAT('%', #{createId}, '%')
            </if>
            <if test="createIp != null and createIp != ''">
                AND CREATE_IP LIKE CONCAT('%', #{createIp}, '%')
            </if>
            <if test="startDate != null and startDate != ''">
                <![CDATA[
                    AND CREATE_DATE >= #{startDate}
                ]]>
            </if>
            <if test="endDate != null and endDate != ''">
                <![CDATA[
                    AND CREATE_DATE <= #{endDate}
                ]]>
            </if>
        </where>
        ORDER BY RECEIVE_DATE DESC
    </select>
    <select id="retrieve" resultType="com.douzon.smartlogistics.domain.entity.Receive">
        SELECT RECEIVE_CODE, RECEIVE_DATE, MANAGER, CREATE_DATE, CREATE_IP, CREATE_ID, MODIFY_DATE, MODIFY_IP, MODIFY_ID
        FROM RECEIVE
        WHERE RECEIVE_CODE = #{receiveCode};
    </select>
    <select id="findAvailableCount" resultType="java.lang.Integer">
        SELECT (PORDER_ITEM.PORDER_COUNT - IFNULL(RECEIVE_ITEM.RECEIVE_COUNT, 0)) ,
               PORDER_ITEM.PORDER_COUNT,
               IFNULL(RECEIVE_ITEM.RECEIVE_COUNT, 0)
        FROM PORDER_ITEM
        LEFT JOIN RECEIVE_ITEM
        ON PORDER_ITEM.PORDER_CODE = RECEIVE_ITEM.PORDER_CODE
        AND PORDER_ITEM.PORDER_ITEM_NO = RECEIVE_ITEM.PORDER_ITEM_NO
        WHERE PORDER_ITEM.PORDER_CODE = #{porderCode}
        AND PORDER_ITEM.PORDER_ITEM_NO = #{porderItemNo}
    </select>
</mapper>