<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douzon.smartlogistics.domain.mainPage.dao.mapper.MainPageMapper">
  <select id="warehouseRankList">
    SELECT
      w.WAREHOUSE_NAME,
      SUM(ws.COUNT) AS totalCount
    FROM
      WAREHOUSE w
        INNER JOIN
      WAREHOUSE_STOCK ws ON w.WAREHOUSE_NO = ws.WAREHOUSE_NO
    GROUP BY
      w.WAREHOUSE_NAME
    ORDER BY
      totalCount DESC
      LIMIT 5;

  </select>

</mapper>