<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douzon.smartlogistics.domain.member.dao.mapper.MemberMapper">
    <select id="memberLogin" parameterType="com.douzon.smartlogistics.domain.member.dto.LoginDto"
                             resultType="com.douzon.smartlogistics.domain.entity.Member">
        SELECT
            member_no,
            member_id,
            member_role,
            create_date,
            ipaddress
        FROM
            MEMBER
        WHERE
            member_id = #{memberId}
            AND password = #{password}
    </select>

    <update id="saveIpAddress" parameterType="java.util.HashMap">
        UPDATE
            MEMBER
        SET
            ipaddress = #{ipAddress}
        WHERE
            member_no = #{memberNo}
    </update>
</mapper>