<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douzon.smartlogistics.domain.receive.dao.mapper.ReceiveMapper">
    <select id="findReceive" resultType="com.douzon.smartlogistics.domain.entity.Receive">
        SELECT RECEIVE_ITEM.RECEIVE_ITEM_NO, RECEIVE.RECEIVE_CODE, RECEIVE_ITEM.MANAGER,
            ITEM.ITEM_CODE, ITEM.ITEM_NAME, RECEIVE_ITEM.RECEIVE_COUNT, ITEM.UNIT,
            ACCOUNT.ACCOUNT_NO, ACCOUNT.ACCOUNT_NAME, RECEIVE.CREATE_DATE
        FROM RECEIVE
        JOIN RECEIVE_ITEM ON RECEIVE.RECEIVE_CODE = RECEIVE_ITEM.RECEIVE_CODE
        JOIN ACCOUNT ON RECEIVE_ITEM.ACCOUNT_NO = ACCOUNT.ACCOUNT_NO
        JOIN ITEM ON RECEIVE_ITEM.ITEM_CODE = ITEM.ITEM_CODE
        <where>
            <if test="receiveCode != null and receiveCode != ''">
                AND RECEIVE.RECEIVE_CODE LIKE CONCAT('%', #{receiveCode}, '%')
            </if>
            <if test="manager != null and manager != ''">
                AND RECEIVE_ITEM.MANAGER LIKE CONCAT('%', #{manager}, '%')
            </if>
            <if test="itemCode != null and itemCode != 0">
                AND ITEM.ITEM_CODE LIKE CONCAT('%', #{itemCode}, '%')
            </if>
            <if test="itemName != null and itemName != ''">
                AND ITEM.ITEM_NAME LIKE CONCAT('%', #{itemName}, '%')
            </if>
            <if test="accountNo != null and accountNo != 0">
                AND ACCOUNT.ACCOUNT_NO LIKE CONCAT('%', #{accountNo}, '%')
            </if>
            <if test="accountName != null and accountName != ''">
                AND ACCOUNT.ACCOUNT_NAME LIKE CONCAT('%', #{accountName}, '%')
            </if>
            <if test="startDate != null and startDate != ''">
                <![CDATA[
                    AND RECEIVE.CREATE_DATE >= #{startDate}
                ]]>
            </if>
            <if test="endDate != null and endDate != ''">
                <![CDATA[
                    AND RECEIVE.CREATE_DATE <= #{endDate}
                ]]>
            </if>
        </where>
    </select>
</mapper>