<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.douzon.smartlogistics.domain.warehouse.dao.mapper.WarehouseMapper">
    <select id="searchWarehouseList" resultType="com.douzon.smartlogistics.domain.entity.Warehouse">
        select warehouseNo,
               sectionNo,
               itemCode,
               receiveItemNO,
               count,
               createDate,
               createId,
               createIp,
               modifyDate,
               modifyIp,
               modifyId
        from warehouse
        <where>
            <!-- 검색 조건이 있는 경우에만 해당 조건을 추가 -->
            <if test="warehouseSectionNO != null and warehouseSectionNO != ''">
                AND item_code LIKE CONCAT(CONCAT('%', #{warehouseSectionNO}), '%')
            </if>
            <if test="receiveItemNo != null and receiveItemNo != ''">
                AND item_name LIKE CONCAT(CONCAT('%', #{receiveItemNo}), '%')
            </if>
            <if test="itemCode != null and itemCode != ''">
                AND itmeCode Like concat(concat('%',#{itemcode}),'%')
            </if>
        </where>
    </select>
</mapper>